{% extends 'ctsp/base.html' %}
{% load staticfiles %}
{% block title_block %}
Login - CTSP
{% endblock %}


{% block body_block %}
<h1 class="text-dark">Product Backlog</h1>

<p>
    <button id="go-commit" name='commit'> Commit US List <img
            src="https://banner2.kisspng.com/20180315/zhw/kisspng-plus-and-minus-signs-clip-art-plus-sign-clipart-5aaad86128c511.589061321521145953167.jpg"
            width='20' height='15' alt="plus symbol image"></button>
</p>


<div id="all">
    <ul id="pblist">
        <li>
            <form id="us-form">
                {%csrf_token%}
                <p>
                    {{form.us_title}} {{form.us_estimative}} {{form.us_priority}} {{form.us_type}}
                </p>
                <p>
                    {{form.us_description}} {{form.us_acceptance}}
                </p>
            </form>
            <button id="go-add" name="add"> Add</button>
            <div id="message"></div>
        </li>
    </ul>
</div>

<script>

    $("#go-add").on("click", function (e) {
        var form = $("#us-form").serialize();

        $.ajax({
            type: "post",
            data: form,
            success: function (data) {
                if (!data['form']) {
                    $("#message").empty();
                    $("#message").append("<p>" + data['message'] + "</p>");
                } else {
                    $("#message").empty();
                    console.log("we made it")
                }
            }
        })
    });

    $("#go-commit").on("click", function (e) {
        let form_data = JSON.stringify($("#us-form").serializeArray());
        let id = 2;

        $.ajax({
            type: "get",
            dataType: 'json',
            success: function (data) {

            },
            error: function () {

            }
        })
    });


    <!---->
    // creating single model first, using ajax, then mutiplying the logic inside
    <!---->
    //    $("#more_button").on('click', function () {
    //        $("#pblist").append(
    //            "<li>" +
    //            "<form>" +
    //            "<li>" +
    //            "{%csrf_token%}" +
    //            '{{form.us_title}}' +
    //            "</li>" +
    //            "</form>" +
    //            "</li>"
    //        )
    //    })
</script>
{%endblock%}
