{% extends 'ctsp/base.html' %}
{% load staticfiles %}
{% block title_block %}
Login - CTSP
{% endblock %}


{% block body_block %}
<h1 class="text-dark">Product Backlog</h1>
<p id="warning"></p>

<!--<p>-->
<!--<button id="go-commit" name='commit'> Commit US List <img-->
<!--src="https://banner2.kisspng.com/20180315/zhw/kisspng-plus-and-minus-signs-clip-art-plus-sign-clipart-5aaad86128c511.589061321521145953167.jpg"-->
<!--width='20' height='15' alt="plus symbol image"></button>-->
<!--</p>-->


<div id="all">
    <ul id="pblist">
        <li>
            <form id="us-form">
                {%csrf_token%}
                <p>
                    {{form.us_title}} {{form.us_estimative}} {{form.us_priority}} {{form.us_type}}
                </p>
                <p>
                    {{form.us_description}} {{form.us_acceptance}}
                </p>
            </form>
            <button id="go-commit" name="commit"> Commit</button>
            <p id="commit-list-message"></p>
            <div id="commits">
                <ol id="commit-list">
                </ol>
            </div>
        </li>
    </ul>
</div>

<script>

    $("#go-commit").on("click", function (e) {
        var form = $("#us-form").serialize();

        $.ajax({
            type: "post",
            data: form,
            success: function (data) {
                if (!data['feedback']) {
                    $("#warning").empty();
                    $("#warning").append("<p>" + data['message'] + "</p>");
                } else {
                    $("#commit-list-message")
                        .empty()
                        .append(
                            "<p>" +
                            "Your commit list" +
                            "</p>"
                        );

                    $("#us-form")[0].reset();

                    let feedback = data.feedback;

                    $("#commit-list").append(
                        "<li>" +
                        "<p>" +
                        "US Title = " +
                        feedback['us_title'] +
                        "</p>" +
                        "</li>"
                    );
                }
            }
        })
    });


    <!---->
    // creating single model first, using ajax, then mutiplying the logic inside
    <!---->
    //    $("#more_button").on('click', function () {
    //        $("#pblist").append(
    //            "<li>" +
    //            "<form>" +
    //            "<li>" +
    //            "{%csrf_token%}" +
    //            '{{form.us_title}}' +
    //            "</li>" +
    //            "</form>" +
    //            "</li>"
    //        )
    //    })
</script>
{%endblock%}
